body{
  display: flex;
}

.contenedor{
    border:1px solid #ccc;
    margin:0auto;
    width: 60%;
    background: #fff;
    padding: 10px;
}

.principal{
    background: #0cb;
    padding: 10px;
}

.header{}